@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

a, .btn{
    transition: all 300ms ease;
}

/* Start navbar  */

nav, .nav-links{
   display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
   color: grey;
   text-decoration: underline;
   text-underline-offset: 1rem;
   text-decoration-color: rgb(181,181,181);
}

.logo img{
    width: 100%;
    height: 10vh;
}

.logo:hover{
    cursor: pointer;
}

/* End navbar */

/* Start Home Profile */

section{
    padding-top: 4vh;
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 80vh;
}

.section_pic-container{
    display: flex;
    height: 450px;
    width: 400px;
    margin: auto 0; 
}

.section_pic-container img{
    border-radius: 10%;
    border: rgb(53,53,53) 0.1 solid;
    box-shadow: 0px 10px 24px rgb(53,53,53);
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.title{
    font-size: 3rem;
}

.section_text_p2{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
/* Social */
.social_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
/* Icon */
.icon{
    cursor: pointer;
    height: 5vh;
}
/* Buttons */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* font-size: 0.8rem; */
}
.btn1{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-2, .btn-color-1{
    border: rgb(53,53,53) 0.1 solid;
}
.btn-color-2:hover, .btn-color-1:hover{
    cursor: pointer;
}
.btn-color-2:hover, .btn-color-1{
    background: rgb(53,53,53);
    color: white;
}
.btn-color-1:hover{
    background: rgb(0,0,0);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border: rgb(255,255,255) 0.1rem solid;
}

/* End Home Profile */

/* Start About */

#about{
    position: relative;
}
.section_pic-container2{
    display: flex;
    height: 450px;
    width: 400px;
    margin: auto 0; 
}
.section_pic-container2 img{
    border-radius: 10%;
    border: rgb(53,53,53) 0.1 solid;
    box-shadow: 10px 5px 24px rgb(53,53,53);
}
.about-containers{
    gap: 2rem;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers, 
.about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 1.6rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 80%;
}


/* End About Work */

/* Start Experience */

#experience{
    position: relative;
}

.experience-sub-title{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.title2{
   padding-bottom: 20px;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* End Experience */

/* Start Projects */

#project{
    position: relative;
}

.color-container{
    border-color: rgb(163,163,163);
    background: rgb(250,250,250);
}
.about-containers2{
    gap: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
.project-img{
    border-radius: 2rem;
    width: 100%;
    height: 38vh;
}
.project-title{
    margin: 1rem;
    color: black;
}
.project-btn{
    color: black;
    border-color: rgb(163,163,163);
}
.project-containers{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* End Projects */

/* Start Contact */
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}
.contact-info-container p{
    font-size: larger;
}
.email-icon{
    height: 2.5rem;
}
/* End Contact */

/* Start Footer*/
/* footer{
    height: 25vh;
} */
footer p{
    text-align: center;
    padding-block: 20px;
    box-shadow: 5px 0 14px  rgb(163,163,163);
}

/* End Footer*/











