PORT=
MONGODB_URI=
CLIENT_SIDE_URL=

ADMIN_EMAIL=admin@portfolio.com
ADMIN_PASSWORD=  #Use the hash of your desired admin password here. You can generate it using bcrypt with 12 salt rounds. For example, if your password is "Admin@12345", you can generate the hash using the following code snippet:
ADMIN_PASSWORD_HASH=

JWT_SECRET=
JWT_EXPIRY=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=  

IMAGE_KIT_PUBLIC_KEY=
IMAGE_KIT_PRIVATE_KEY=
IMAGE_KIT_URL_ENDPOINT=
